:root {
  --primary-fw: 700; 
  --primary-fs: 15px; 
  --primary-gold-gradient: linear-gradient(to right, #d1a654, #b98c3f); 
  --neutral-dark-grey: #1a1a1a; 
  --neutral-white: hsl(0, 0%, 100%); 
  --neutral-black: #000000; 
}

.PricingApp {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: var(--primary-fs);
  display: grid;
  place-items: center;
  background-color: var(--neutral-dark-grey);
  color: var(--neutral-white);
}

.PricingApp .price-switch {
  --border-radius: 10em;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
}

.PricingApp .price-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.PricingApp .switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: var(--border-radius);
  background-image: var(--primary-gold-gradient);
}

.PricingApp .switch-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--neutral-white);
  transform: translateX(calc(100% + 2px));
  transition: 0.3s ease;
}

.PricingApp .price-checkbox:checked + .switch-slider::before {
  transform: translateX(0%);
}

@media screen and (max-width: 800px) {
  .PricingApp {
    padding-block: 4em;
  }
  .PricingApp .pricing-cards {
    flex-direction: column;
    gap: 2em;
  }
}

.PricingCard {
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    background-color: var(--neutral-white);
    color: var(--neutral-dark-grey);
    width: min(100%, 30rem);
}

.PricingCard:nth-child(2) {
    background-color: var(--neutral-white);
    color: var(--neutral-black);
}

.PricingCard header > .card-price {
    margin-block: 1rem;
    font-size: 3.5em;
}

.PricingCard .card-features > * {
    padding-block: 1em;
}

.PricingCard .card-features :first-child {
    border-top: 1px solid var(--neutral-dark-grey);
}

.PricingCard .card-features :last-child {
    margin-bottom: 2em;
}

.PricingCard .card-btn {
    cursor: pointer;
    padding-block: 1em;
    width: 100%;
    border-radius: 0.5em;
    background-image: var(--primary-gold-gradient);
    border: 2px solid transparent;
    color: var(--neutral-white);
    transition: 0.125s ease;
}

.PricingCard .card-btn:is(:focus-visible, :hover) {
    background: var(--primary-gold-gradient);
    border-color: var(--neutral-black);
}

@media screen and (max-width: 800px) {
  .PricingCard:nth-child(2) {
    align-self: center;
  }
}
